<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Инвестиции - TradeMaster</title>
    <link rel="stylesheet" href="/styles/news.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
<header>
    <a href="/" class="main-page">TradeMaster</a>
    <h2 class="portfolio-title">Новости</h2>
    <form action="/logout" method="POST">
        <button type="submit" class="logout-button">Выход</button>
    </form>
</header>

<div class="container">
    <div class="news-wrapper">
        <h2>Дневные новости</h2>
    </div>
    <div class="news-list">
        <div class="news-list-item">
            <p>ЦБ повысил ставку до 21% - Набиуллина</p>
        </div>
    </div>
    <div class="news-list">
        <div class="news-list-item">
            <p>Ожидается падение рынка на предположении о повышении ставки до 23%</p>
        </div>
    </div>


</div>

</body>
</html>
